[user]
  name = Ting Shou Kuo
  email = patrick5267@gmail.com
[core]
	excludesfile = ~/.gitignore_global
  editor = vim
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[webui]
	autoupdate = true
[alias]
	webui = !/home/patrick/.git-webui/release/libexec/git-core/git-webui
